dist/
poetry.lock
docs/pyproject.toml
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/doctrees/.venv/lib/python3.10/site-packages/Jinja2-3.1.2.dist-info/LICENSE.doctree
docs/_build/doctrees/.venv/lib/python3.10/site-packages/MarkupSafe-2.1.1.dist-info/LICENSE.doctree
docs/_build/doctrees/.venv/lib/python3.10/site-packages/alabaster-0.7.12.dist-info/DESCRIPTION.doctree
docs/_build/doctrees/.venv/lib/python3.10/site-packages/imagesize-1.4.1.dist-info/LICENSE.doctree
docs/_build/doctrees/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/base.doctree
docs/_build/doctrees/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/class.doctree
docs/_build/doctrees/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/module.doctree
docs/_build/html/.buildinfo
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/objects.inv
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/.venv/lib/python3.10/site-packages/Jinja2-3.1.2.dist-info/LICENSE.html
docs/_build/html/.venv/lib/python3.10/site-packages/MarkupSafe-2.1.1.dist-info/LICENSE.html
docs/_build/html/.venv/lib/python3.10/site-packages/alabaster-0.7.12.dist-info/DESCRIPTION.html
docs/_build/html/.venv/lib/python3.10/site-packages/imagesize-1.4.1.dist-info/LICENSE.html
docs/_build/html/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/base.html
docs/_build/html/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/class.html
docs/_build/html/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/module.html
docs/_build/html/_sources/index.rst.txt
docs/_build/html/_sources/.venv/lib/python3.10/site-packages/Jinja2-3.1.2.dist-info/LICENSE.rst.txt
docs/_build/html/_sources/.venv/lib/python3.10/site-packages/MarkupSafe-2.1.1.dist-info/LICENSE.rst.txt
docs/_build/html/_sources/.venv/lib/python3.10/site-packages/alabaster-0.7.12.dist-info/DESCRIPTION.rst.txt
docs/_build/html/_sources/.venv/lib/python3.10/site-packages/imagesize-1.4.1.dist-info/LICENSE.rst.txt
docs/_build/html/_sources/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/base.rst.txt
docs/_build/html/_sources/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/class.rst.txt
docs/_build/html/_sources/.venv/lib/python3.10/site-packages/sphinx/ext/autosummary/templates/autosummary/module.rst.txt
docs/_build/html/_static/_sphinx_javascript_frameworks_compat.js
docs/_build/html/_static/alabaster.css
docs/_build/html/_static/basic.css
docs/_build/html/_static/custom.css
docs/_build/html/_static/doctools.js
docs/_build/html/_static/documentation_options.js
docs/_build/html/_static/file.png
docs/_build/html/_static/jquery-3.6.0.js
docs/_build/html/_static/jquery.js
docs/_build/html/_static/language_data.js
docs/_build/html/_static/minus.png
docs/_build/html/_static/plus.png
docs/_build/html/_static/pygments.css
docs/_build/html/_static/searchtools.js
docs/_build/html/_static/underscore-1.13.1.js
docs/_build/html/_static/underscore.js
docs/_build/html/_static/css/badge_only.css
docs/_build/html/_static/css/theme.css
docs/_build/html/_static/css/fonts/fontawesome-webfont.eot
docs/_build/html/_static/css/fonts/fontawesome-webfont.svg
docs/_build/html/_static/css/fonts/fontawesome-webfont.ttf
docs/_build/html/_static/css/fonts/fontawesome-webfont.woff
docs/_build/html/_static/css/fonts/fontawesome-webfont.woff2
docs/_build/html/_static/css/fonts/lato-bold-italic.woff
docs/_build/html/_static/css/fonts/lato-bold-italic.woff2
docs/_build/html/_static/css/fonts/lato-bold.woff
docs/_build/html/_static/css/fonts/lato-bold.woff2
docs/_build/html/_static/css/fonts/lato-normal-italic.woff
docs/_build/html/_static/css/fonts/lato-normal-italic.woff2
docs/_build/html/_static/css/fonts/lato-normal.woff
docs/_build/html/_static/css/fonts/lato-normal.woff2
docs/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff
docs/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
docs/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff
docs/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
docs/_build/html/_static/js/badge_only.js
docs/_build/html/_static/js/html5shiv-printshiv.min.js
docs/_build/html/_static/js/html5shiv.min.js
docs/_build/html/_static/js/theme.js
